#header {
    color: red;
    font-size: 20px;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: $bg-color;
    -webkit-animation: colorChange $time linear 0s infinite;
    animation: colorChange $time linear 0s infinite ;

    .header-dots {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        left: 0;
        top: 0;

        &.bg-dots-lighter {
            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E")
        }
    }
    .logo {
        position: relative;
        z-index: 2;
        width: 100px;

        .logo-link {
            width: 100px;
            height: 30px;
            display: block;
            transition: all 0.3s ease-in-out;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
    }
}
