// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$bg-color: #111827; //start color
$stops: 100; //smoothness
$time: 20s; //duration of animation
$hue-range: 20; //of 360deg
